@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

/* MEDIA */
@media only screen and (min-width: 730px) {
	div {
		width: 90%;
	}
}

@media only screen {
	div {
		width: 50%;
	}
	a:hover {
		text-decoration: underline;
	}
}

/* CLASSES */
.projects {
	font-family: 'Arvo';
	padding-left: 5%;
	font-size: 24pt;
	font-weight: bold;
	text-decoration: None;
}

.slab {
	font-family: 'Roboto Slab';
}

/* ELEMENTS */
body {
	font-family: 'Arvo', 'Helvetica Neue', Helvetica, 'Liberation Sans', Calibri,
		Arial, sans-serif;
	font-size: 14pt;
	max-width: 560px;
	display: block;
	margin: auto;
	width: inherit;
	height: auto;
}

p {
	position: relative;
	font-size: 20pt;
	display: block;
	font-family: 'Arvo', sans-serif;
	font-weight: bold;
	font-size: 20pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.5em;
	page-break-after: avoid;
}

a {
	color: #0025ee;
	text-decoration: none;
}

span {
	margin: inherit;
	padding: inherit;
}

img {
	display: block;
	width: inherit;
	height: auto;
	padding: 0px;
	margin: auto;
	border: 0px;
}

footer {
	font-size: 14pt;
	text-align: center;
	font-weight: bold;
}

hr {
	width: 100%;
	border-top: 4px solid #000;
	margin-right: 0%;
	color: #000;
	background-color: #000;
}

/* DIVS */

div {
	/* border: solid; */
	max-width: 560px;
	display: block;
	margin: auto;
	width: inherit;
	height: 150px;
}

div.ban {
	max-width: None;
	position: absolute;
	padding: None;
	width: 560px;
	height: 70%;
	/* height: 665px; */
	left: 50%;
	margin-left: -280px;
}

div.buffer {
	max-width: None;
	padding: None;
	width: 560px;
	height: 30%;
	left: 50%;
	margin-left: -280px;
}

div.figure {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: italic;
}

table {
	border-width: inherit;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
	width: -webkit-fill-available;
}

thead {
	border-bottom: 1pt solid #000;
	background-color: #eee;
}

tbody {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 14pt;
}

td,
th {
	width: auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	vertical-align: top;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

th {
	font-weight: bold;
}

dl {
	border-top: 2pt solid black;
	padding-top: 0.5em;
	border-bottom: 2pt solid black;
}

dt {
	font-weight: bold;
}

dd + dt {
	border-top: 1pt solid black;
	padding-top: 0.5em;
}

dd {
	margin-bottom: 0.5em;
}

dd + dd {
	border-top: 1px solid black;
}
